* { 
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}


.hero {
	background: url('../images/techno.jpg');
	background-size: cover; 
	height: 800px;
	background-repeat: no-repeat;
}
	
body {
	background-color: #232323; 
	font-family:;
	font-size:16px;
	color:#979797;
}	

h1 {
	text-align: center;
	font-size: 3em;
	font-family: Helvetica;
}

.logo {
	width: 8%;
}

.button, .button2, .button3 {
	background-color: #00ffc0;
	width: 15em;
	display: block;
	padding: 1.25em 0;
	color: #000;
	margin: 1.5em auto;
	border-radius: .5em;
	text-align:center;
	text-decoration:none;
}
.button2 {
    background-color: #ff009c;
}
.button3 {
    background-color: #ffd800;
}

.hero2 {
	background: url('../images/darling.jpg');
	background-size: cover; 
	height: 800px;
	background-repeat: no-repeat;
}

h3 {
	position: relative;
    top: 160px;
    left: -600px;
	text-align: center;
	font-size: 24px;
	font-family: Helvetica;
	color: #979797;
}

.visuald {
	text-align: center;
	font-size: 16px;
	font-family: Helvetica;
	color: #979797;
} 

.coding {
	text-align: center;
	font-size: 16px;
	font-family: Helvetica;
	color: #979797;
} 

.h32 {
	text-align: center;
	font-size: 24px;
	font-family: Helvetica;
	color: #979797;
}
.resume {
	background: url('../images/workhis.jpg');
	background-size: cover; 
	height: 800px;
	background-repeat: no-repeat;
}

.logo2 {
	width: 230px;
}

.logo3 {
	width: 250px;
}
