@import url('https://fonts.googleapis.com/css?family=Domine');
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}


.hero {
	background: url('../images/landing.jpg');
	background-size: cover;
	min-height: 45em;
	background-repeat: no-repeat;
	\: 10em 0 0;
}
	
body {
	background-color: #232323; 
	color: #979797;
	font-family: Poppins;

}
section {
	height:100vh;
	padding:10em 0 0;
}
header img {
	width:10em;
	float:left;
}
h1 {
    text-align: center;
    font-size: 48px;
}

.logo {
	float: left;
	width: 25%;
}
.button {
	background-color: #00ffc0;
	width: 15em;
	display: block;
	padding: 1.25em 0;
	color: black;
	margin: 1.5em auto;
	border-radius: .5em;
	text-align: center;
	text-decoration: none;
	font-family: Poppins;
}

.button2 {
    background-color: #ff009c;
}

.button3 {
    background-color: #ffd800;
}
.hero2 {
	background: url('../images/darling.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

h3 {
	text-align: center;
	font-size: 24px;
	
}

.visuald {
	width: 20em;
	margin-top: 8em;
	font-family: Domine;
}  


.resume {
	background: url('../images/workhis.jpg');
	background-size: cover; 
	height: 100vh;
	background-repeat: no-repeat;
}
.resume div {
	width:1200px;
	margin:auto;
}
.friends {
	text-align: center;
}

.ending {
	background: url('../images/blox.jpg');
	background-size: cover; 
	height: 800px;
	background-repeat: no-repeat;
	text-align: center;
}

.endingtext {
	text-align: center;
	font-size: 36px;	
}